
button {

}

button:hover {
  filter: brightness(90%);
}

div li button {
  margin: 0 20px;
  background: #ca4949;
}

.content, .list {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}
.list {
  margin-left: 100px;
  justify-content: right;
}

.list button {
  margin-right: 50px;
}

.content form {
  width: 100%;
  padding: 96px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
label {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border-radius: 5px;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}